@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
}


/***************************nav bar codes********************/

.navbar {
    position: fixed;
    width: 96%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.navbar.sticky {
    width: 100vw;
    max-height: 100px;
    padding: 20px 0;
    background: darkblue;
    justify-content: space-between;
}

.navbar .max-widthh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
}

.navbar .logo a {
    position: fixed;
    top: 30px;
    color: #000;
    /* color: #fff; */
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo a span {
    color: blue;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar.sticky .logo a {
    color: #fff;
    top: 20px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #000;
    /* color: #fff; */
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .menu li a span {
    display: inline-block;
    font-size: 17px;
}

.navbar .menu li a:hover {
    color: darkblue;
}

.navbar.sticky .menu {
    padding-right: 10px;
    position: relative;
}

.navbar.sticky .menu li a {
    color: #fff;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.cart,
.user {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.navbar.sticky .search {
    max-width: 450px;
    position: fixed;
    top: 25px;
    left: 22%;
}

.navbar #cart_count {
    text-align: center;
    color: #fff;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3em;
    background: blue;
}

.navbar.sticky #cart_count {
    text-align: center;
    color: blue;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3em;
    background: #fff;
}


/************************* Slide bar menu ******************************/

.wrapper {
    display: none;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 100%;
    background: blue;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: darkblue;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
    text-decoration: none;
}

.sidebar ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    background: blue;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 250px;
    top: -20px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: 100px;
    top: -35px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: -250px;
}

#check:checked~label #btn {
    left: -60px;
    opacity: 1;
    pointer-events: auto;
}

#check:checked~label #cancel {
    left: -195px;
}

#check:checked~section {
    margin-left: 0px;
}


/******************* home section styling ***********************/

.home {
    height: 20vh;
}

.error-text {
    background: #F8D7DA;
    padding: 8px 25px;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
}

.error-text.matched {
    background: #D4EDDA;
    color: #588C64;
    border-color: #C3E6CB;
}

.show {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    display: none;
}

.show.active {
    color: #27ae60;
}


/********************************************** new form code *****************************************/

.container {
    max-width: 800px;
    background: #fff;
    background: url(../img/register.jpg) no-repeat center;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 25%;
    margin-bottom: 50px;
}

.container .text {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */
    background: -webkit-linear-gradient(right, #548bdd, #0a68e4, #548bdd, #0a68e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container form {
    padding: 30px 0 0 0;
}

.container form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #0765a3;
    /* color: #000; */
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: none;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #0866a5;
    /* background: #000; */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.submit-btn .input-data {
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    /* background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); */
    background: -webkit-linear-gradient(right, #548bdd, #0a68e4, #548bdd, #0a68e4);
    transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
    left: 0;
}

.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

form .signup-link {
    text-align: center;
    margin-top: 30px;
}

form .pass-link a,
form .signup-link a {
    color: #4245fa;
    text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
    text-decoration: underline;
}


/************************* free delivery quote **********************/

.note {
    text-align: center;
    background-color: darkgray;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/****************************** footer code css ********************************/

footer {
    position: static;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .footer .sec {
    margin-right: 30px;
}

footer .footer .sec.aboutus {
    width: 40%;
}

footer .footer h3 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer h3::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer .footer .sec.aboutus p {
    color: #999;
    text-align: justify;
}

.sci {
    margin-top: 20px;
    display: flex;
}

footer li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}

.sci li a .fab {
    color: #fff;
    font-size: 20px;
}

.sci li a .fab:hover {
    color: #023ee4;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 50px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}


/* *************************Mediaqurey code| responsive designs********************************* */

@media (max-width: 1290px) {
    .navbar.sticky {
        padding: 40px 0;
    }
}

@media (max-width: 1080px) {
    .container {
        left: 15%;
    }
}

@media (max-width: 950px) {
    .container {
        max-width: 600px;
        left: 10%;
    }
}

@media (max-width: 900px) {
    .wrapper {
        height: 100%;
        width: 300px;
        position: relative;
        display: block;
    }
    .menu {
        display: none;
    }
    .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
    }
    .logo {
        position: fixed;
        left: 40%;
    }
    img {
        display: none;
    }
    footer {
        padding: 40px;
    }
    footer .footer {
        flex-direction: column;
    }
    footer .footer .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .footer .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 100px;
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 500px;
        left: 5%;
    }
    .container .text {
        font-size: 30px;
    }
    .container form {
        padding: 10px 0 0 0;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0!important;
    }
    .submit-btn {
        position: relative;
        left: 30%;
    }
    .submit-btn .input-data {
        width: 40%!important;
    }
}